body
 {
    padding: 0px; margin: 0px; background: #f2f6e9;
    }
    /*--- navigation bar ---*/
    .navbar 
    { 
       
        margin-left:-170px;
        width : 1450px;
        background:#01796F;
    }
    .navbar-brand 
    {
        text-align:center;
        margin-right:100px;
        width: 100px;
        height:65px;
       
    }
    .nav-link 
    {
    color: white;
    cursor: pointer; 
    margin-left: 1em;
    }
    .nav-link
    {
    margin-right: 5px;
    }
    
    .navbar-collapse 
    { 
        justify-content: flex-end;
    }


    .page-footer 
    { 
        
        background-color: white;
        color: grey;
        padding: 4px 0 1px;
    }
    .footer-copyright 
    { 
        position: absolute; bottom: 0; left: 0; right: 0;
        color: grey; 
    }
    table
    {

    margin: auto;
    }
    td
    {
    text-align :center;
    }
    h2
    {
        text-align:center;
    }
    .cat {
        height: 30px;
        width: 350px;
    }
    .desc {
        height:70px;
        width:350px;
    }
    .nom {
        height: 30px;
        width: 350px;
    }

    .prixmin {
        height: 30px;
        width: 350px;
    }

    .prixmax {
        height: 30px;
        width: 350px;
    }

